header {
    background: $color2;
    background-size: 100% 100vh;
    height: 100vh;
    width: 100%;

    .header {
        .navHeader {

            max-width: 1400px;
            margin: 20px auto;
            display: flex;
            justify-content: center;

            @media screen and (max-width: 950px) {
                margin: 5px auto;
            }

            @media screen and (max-width: 750px) {
                flex-direction: column;
            }


            .menuNav {
                height: 100px;
                width: 50%;
                display: flex;
                margin: 0 10%;
                font-size: 1.2rem;
                text-transform: uppercase;

                @media screen and (max-width: 950px) {
                    width: 100%;
                    justify-content: flex-start;
                    margin: 0;
                }

                @media screen and (max-width: 400px) {
                    justify-content: center;
                }


                ul {
                    @include alignChildren(center);
                    width: 100%;


                    @media screen and (max-width: 750px) {
                        justify-content: center;
                    }

                    li {
                        position: relative;
                        margin: 0 15px;

                        @media screen and (max-width: 400px) {
                            margin: 0 8px;
                        }

                        &:hover {
                            cursor: pointer;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            bottom: -5px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: $color2;
                        }

                        &:hover::after {
                            background-color: $color1;
                            transition: 1.5s;
                        }
                    }
                }
            }
        }


        .headerTitle {
            width: 80%;

            @media screen and (max-width: 1400px) {
                width: 60%;
            }

            @media screen and (max-width: 650px) {
                width: 100%;
            }

            img {
                width: 50%;

                @media screen and (max-width: 1400px) {
                    margin-top: 20vh;
                    width: 70%;
                }

                @media screen and (max-width: 950px) {
                    margin-top: 20vh;
                    width: 100%;
                }


            }

            .social-network {
                width: 50%;
                display: flex;
                height: 100px;
                justify-content: center;

                @media screen and (max-width: 950px) {
                    width: 100%;
                }

                @media screen and (max-width: 750px) {
                    justify-content: center;
                }

                ul {
                    width: 80%;
                    margin-left: 80px;
                    @include alignChildren(space-around);

                    @media screen and (max-width: 1400px) {
                        margin-left: 0;
                    }

                    @media screen and (max-width: 950px) {
                        width: 60%;
                    }

                    @media screen and (max-width: 400px) {
                        width: 80%;
                    }


                    .facebook,
                    .linkedin,
                    .insta,
                    .mail {
                        img {
                            width: 50px;
                            height: 50px;
                            transition: all 330ms ease-in-out;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

        }
    }
}