header {
    height: 100vh;
    width: 100%;
    background: url(../img/bgAcc.jpg)center/cover;


    .header {

        ////Menu Burger//////
        .nav-container {
            input {
                display: none;
            }

            .hamburger-lines {
                display: none;
            }
        }

        @media screen and (max-width:750px) {
            .navbar {
                .navHeader {
                    .menuNav {
                        padding-top: 50px;
                        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
                        height: 100vh;
                        width: 100%;
                        transform: translate(-150%);

                        display: flex;
                        flex-direction: column;
                        margin-right: -40px;
                        padding-right: 25%;
                        transition: transform 0.5s ease-in-out;
                        text-align: center;
                    }

                    .menuNav ul {
                        margin-left: auto;
                    }

                    .menuNav ul li {

                        margin-bottom: 1.2rem;
                        font-size: 2.5rem;
                        font-weight: 500;
                    }
                }

            }

        }

        .navHeader {
            //     max-width: 1400px;
            margin: 20px auto;
            display: flex;
            justify-content: center;

            @media screen and (max-width: 950px) {
                margin: 5px auto;
            }


            .menuNav {
                height: 100px;
                width: 50%;
                display: flex;
                margin: 0 10%;
                font-size: 1.2rem;
                text-transform: uppercase;

                @media screen and (max-width: 950px) {
                    width: 100%;
                    justify-content: flex-start;
                    margin: 0;
                }

                ul {
                    @include alignChildren(center);
                    width: 100%;


                    @media screen and (max-width: 750px) {
                        flex-direction: column;
                        height: 30vh;
                        width: 50%;
                    }

                    li {
                        position: relative;
                        margin: 0 15px;

                        @media screen and (max-width: 750px) {
                            height: 30vh;
                            display: flex;
                            align-items: center;
                        }

                        @media screen and (max-width: 400px) {
                            margin: 0 8px;
                        }

                        &:hover {
                            cursor: pointer;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            bottom: -5px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            opacity: 1;

                            @media screen and (max-width: 750px) {
                                display: none;
                            }
                        }

                        &:hover::after {
                            background-color: $color1;
                            transition: 1.5s;
                        }
                    }
                }
            }

        }

        ///BURGER////

        .nav-container {
            @media screen and (max-width: 750px) {
                display: block;
                position: relative;
                height: 60px;

                .checkbox {
                    position: absolute;
                    display: block;
                    height: 32px;
                    width: 32px;
                    top: 20px;
                    right: 20px;
                    z-index: 5;
                    opacity: 0;
                    cursor: pointer;
                }

                .hamburger-lines {
                    display: block;
                    height: 26px;
                    width: 32px;
                    position: absolute;
                    top: 35px;
                    right: 20px;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .hamburger-lines .line {
                    display: block;
                    height: 4px;
                    width: 100%;
                    border-radius: 10px;
                    background: $color1;
                }

                .hamburger-lines .line1 {
                    transform-origin: 0% 0%;
                    transition: transform 0.4s ease-in-out;
                }

                .hamburger-lines .line2 {
                    transition: transform 0.2s ease-in-out;
                }

                .hamburger-lines .line3 {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out;
                }


                input[type="checkbox"]:checked~.menuNav {
                    transform: translateX(0);
                }

                input[type="checkbox"]:checked~.hamburger-lines .line1 {
                    transform: rotate(45deg);
                }

                input[type="checkbox"]:checked~.hamburger-lines .line2 {
                    transform: scaleY(0);
                }

                input[type="checkbox"]:checked~.hamburger-lines .line3 {
                    transform: rotate(-45deg);
                }
            }

        }



        .headerTitle {
            margin-right: 45%;

            .logo {
                width: 50%;
                margin-top: 150px;

                @media screen and (max-width: 1400px) {
                    width: 70%;
                }

                @media screen and (max-width: 950px) {
                    width: 90%;
                    margin-top: 250px;
                }


            }

            .social-network {
                display: flex;
                justify-content: center;

                @media screen and (max-width: 1400px) {
                    width: 70%;
                }

                @media screen and (max-width: 950px) {
                    width: 100%;
                }


                ul {
                    @include alignChildren(space-between);

                    @media screen and (max-width: 950px) {
                        width: 90%;
                        height: 50px;
                    }

                    .facebook,
                    .linkedin,
                    .insta,
                    .mail {
                        img {
                            width: 50px;
                            height: 50px;
                            transition: all 330ms ease-in-out;

                            @media screen and (max-width: 500px) {
                                width: 40px;
                                height: 40px;
                            }

                            @media screen and (max-width: 320px) {
                                width: 30px;
                                height: 30px;
                            }

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

        }
    }
}